<script>
  export let config;

  function handleMouseDown(e) {
    e.preventDefault();
    console.log(1);
  }

  function handleMouseUp(e) {
    e.preventDefault();
    console.log(2);
  }
</script>

<style lang="sass">
  .component-button {
    position: absolute;

    > a {
      display: block;
      border-radius: 50%;
      background: rgb(0, 0, 0);
    }
  }
</style>

<svelte:window on:mouseup={handleMouseUp} />

<div
  class="component-button"
  style="left: {config.position.x}px; top: {config.position.y}px;">
  <a
    href="#"
    on:mousedown={handleMouseDown}
    style="width: {config.size.w}px; height: {config.size.h}px;">
    {config.text}
  </a>
</div>
