<script>
import NameChanger from './components/NameChanger.svelte';
import ScreenCanvas from './components/ScreenCanvas.svelte';
import { name } from './stores.js';
</script>

<style>
h1 {
	color: purple;
}
</style>

<h1>Hello {$name}!</h1>
<NameChanger />

<ScreenCanvas />
