<script>
  import Button from "./types/Button.svelte";

  import { canvas } from "../stores.js";
</script>

<style>
  .wrapper {
    position: relative;
  }
  /* .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */
</style>

<div class="wrapper">
  {#each $canvas.items as item}
    <Button config={item} />
  {/each}
</div>
